{% extends 'base.html' %}
{% block content %}
<section class="bg-dark py-0">
  <div class="text-center p-5">
    <h1 class="display-5 fw-bolder mb-2 text-white">A Propos de l'application</h1>
</div>
</section>

<!-- Content Row-->
<div class="row gx-4 gx-lg-5 p-5 m-2">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Prévision Avancée</h2>
                <p class="card-text">Obtenez des prévisions précises et actualisées pour optimiser vos stocks et anticiper les demandes saisonnières.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Découvrir plus</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Méthode DRP</h2>
                <p class="card-text">Utilisez la méthode DRP pour une planification stratégique, synchronisée et efficace de vos ressources et de vos commandes.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Découvrir plus</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Analyse Historique</h2>
                <p class="card-text">Analysez l'historique des demandes sur Les années écoulées pour une prise de décision basée sur des données fiables et une planification proactive.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Découvrir plus</a></div>
        </div>
    </div>
</div>
</div>

<!--accordions -->
<section class="bg-dark p-5">
  <div class="text-center m-0 p-0">
  <h5 class="display-6 fw-bolder text-white">FAQ</h5>
</div>
</section>


<div class="d-flex flex-column flex-md-row p-1 gap-4 py-md-1 align-items-center justify-content-center">
  <div class="accordion p-5" style="width: 1000px;" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Question 1 : Qu'est-ce que la méthode DRP et comment notre application l'utilise-t-elle ?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <strong>Méthode DRP (Distribution Resource Planning)</strong> est une approche stratégique pour la gestion des stocks et des ressources dans une chaîne d'approvisionnement. Notre application utilise la méthode DRP pour optimiser les niveaux de stock, anticiper la demande et synchroniser les commandes entre les différents points de la chaîne logistique
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Question 2 : Comment notre application améliore-t-elle la prévision de la demande ?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          Notre application intègre des modèles de prévision tels que la <strong>Régression linéaire</strong> qui analysent l'historique des commandes, avec <strong>les coefficients saisonniaires</strong> pour prendre en compte les tendances saisonnières et d'autres facteurs pertinents pour fournir des prévisions précises de la demande. Cela permet aux utilisateurs de planifier efficacement leurs approvisionnements et d'éviter les ruptures ou les surstocks.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Question 3 : Quels sont les principaux avantages de notre application pour la gestion des stocks et des commandes ?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
          Les principaux avantages de notre application incluent: 
          <ul>
            <li>une gestion proactive des stocks</li>
            <li>une optimisation des niveaux de stock pour réduire les coûts de stockage et d'obsolescence</li>
            <li>une planification stratégique des commandes pour une exécution fluide</li>
            <li>une prise de décision basée sur des données fiables pour une meilleure efficacité opérationnelle</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %} 
