{% extends 'base.html' %}
{% block content %}
<h1>Home</h1>

<div>
    <img src="https://i.imgur.com/r4xq5R8.png" alt="My Picture">
</div>

<div style="height: 500px; border: 1px solid black;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 500px; background-color: red; border: 1px solid black;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 500px; background-color: red; border: 1px solid black;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 500px; background-color: red; border: 1px solid black;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 500px; background-color: red; border: 1px solid black;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 500px; background-color: red; border: 1px solid black;"></div>
{% endblock %} 
