{% extends 'base.html' %}
{% block content %}
<!--
<div>
    <img src="https://i.imgur.com/r4xq5R8.png" class="img-fluid" alt="My Picture">
</div>
-->
<!--template from startbootstrap-->

<!-- Header-->
<section class="bg-dark py-0">
    <img src="https://i.imgur.com/cjEjzyU.png" class="img-fluid" alt="My Picture">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Optimisez la gestion de votre entrepôt </h1>
                    <p class="lead text-white-50 mb-4">Ne laissez pas la gestion des stocks au hasard. Inscrivez-vous maintenant pour découvrir comment notre méthode DRP peut transformer vos prévisions en succès opérationnel !</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Commencer</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="{% url 'about' %}">Savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features section-->
<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bar-chart-line p-2" viewBox="0 0 16 16">
                <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1zm1 12h2V2h-2zm-3 0V7H7v7zm-5 0v-3H2v3z"/>
              </svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Prévision des Commandes</h3>
        <p> Prévoyez avec précision les commandes pour répondre à la demande et éviter les ruptures de stock. </p>
        <a href="#" class="icon-link">
          Voir comment ça marche
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-award-fill p-2" viewBox="0 0 16 16">
                <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864z"/>
                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
              </svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Efficacité Opérationnelle</h3>
        <p>Distribution Manager assure des prévisions précises, une optimisation des stocks et une gestion stratégique des commandes. Réduisez les coûts, évitez les ruptures de stock et améliorez votre efficacité opérationnelle.</p>
        <a href="#propos" class="icon-link">
          A propos de nous
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-clock p-2" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
              </svg>
        </div>
        <h3 class="fs-2 text-body-emphasis">Optimisez et Gagnez du temps</h3>
        <p>Traitez les exceptions plutôt que de consacrer du temps au réapprovisionnement de routine. </p>
        <a href="#" class="icon-link">
            En savoir plus
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>
<!-- Quote/testimonial aside-->
<aside class="text-center bg-primary p-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4" style="font-family: 'Newsreader'">"Application avancée, stocks optimisés intelligemment pour une efficacité maximale."</div>
            </div>
        </div>
    </div>
</aside>
<!-- Basic features section-->
<section class="bg-light p-5" id="propos">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4">Prévisions avancées pour l'optimisation des stocks</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">Notre Application intègre des prévisions précises pour anticiper la demande et optimiser vos stocks. Grâce à une analyse fine de l'historique des commandes et à des modèles avancés, notre application vous aide à éviter les ruptures de stock et les surplus coûteux, assurant ainsi une gestion optimale de votre chaîne logistique.</p>
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="https://i.imgur.com/IVNjZgj.jpeg" alt="..." /></div>
            </div>
        </div>
    </div>
</section>
<!-- Contact section-->
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3 px-5"><i class="bi bi-envelope"></i></div>
            <h2 class="fw-bolder">Contactez-nous</h2>
            <p class="lead mb-0">Nous serions ravis d'avoir de vos nouvelles</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN"  id="contact">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                        <label for="name">Nom et prénom</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">Un nom est requis.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Adresse Email</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">Un e-mail est requis.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">L'email n'est pas valide.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">Numéro de téléphone</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Un numéro de téléphone est requis.</div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Message</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">Un message est requis.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Envoi du formulaire réussi !</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-lg enabled" id="submitButton" type="submit" href="#contact" >Envoyer</button></div>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- old filler 
<div style="height: 500px; border: 1px solid black;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 500px; background-color: red; border: 1px solid black;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 500px; background-color: red; border: 1px solid black;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 500px; background-color: red; border: 1px solid black;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 500px; background-color: red; border: 1px solid black;"></div>
        <div style="height: 20px;"></div>
        <div style="height: 500px; background-color: red; border: 1px solid black;"></div>
-->        
{% endblock %} 
