<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            display: flex;
        }
        .sidebar {
            flex: 1;
            background-color: #305274;
            padding: 20px;
        }
        .main-content {
            flex: 3;
            background-color: #e9ecef;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="#prevision">Prevision</a></li>
                <li><a href="#history">History</a></li>
                <li><a href="#infos">Infos</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>DRP APP</h1>
        </div>
    </div>
</body>
</html>