{% extends 'DRP/DRP_app.html' %}
{% block content2 %}
<!-- cards -->
<div class="d-flex">
    <div class="col-3 card mx-3">
        <div class="card-body">
            <h5 class="card-title text-primary">Card title</h5>
            <h6 class="card-substitle mb-2 text-muted">yearly</h6>
            <div>
                <canvas id="first-Chart"></canvas>
            </div>
            <h1 class="card-text text-end">5.555</h1>
        </div>
    </div>
    <div class="col-3 card mx-3">
        <div class="card-body">
            <h5 class="card-title text-primary">Card title</h5>
            <h6 class="card-substitle mb-2 text-muted">yearly</h6>
            <div>
                <canvas id="second-Chart"></canvas>
            </div>
            <h1 class="card-text text-end">5.555</h1>
        </div>
    </div>
    <div class="col-3 card mx-3">
        <div class="card-body">
            <h5 class="card-title text-primary">Card title</h5>
            <h6 class="card-substitle mb-2 text-muted">yearly</h6>
            <div>
                <canvas id="third-Chart"></canvas>
            </div>
            <h1 class="card-text text-end">5.555</h1>
        </div>
    </div>
</div>

{% endblock %}