{% extends 'DRP/DRP_app.html' %}
{% block content2 %}

  <div class="container center">
    
    <div class="justify-content-center px-5 mx-5 py-1 rounded ">
        <div id="centralwarehouse" class="justify-content-center px-5 mx-5 py-2 rounded">
            <h3>Paramètre de l'entrepôt centrale</h3>
            <!--ici la debut de formulaire de l'entrepot centrale-->
            <div class="form-group">
                {% if submitted_entrepot %}
                  <div class="alert alert-success d-flex align-items-center" role="alert" style="height: 23px;" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill m-1" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                    <div>
                        Les données de l'entrepôt centrale ont été mises à jour avec succès.
                    </div>
                  </div>
                {% endif %}
                <form action="" method="POST">
                  {% csrf_token %}
                  {{ form_entrepot.as_p }}
                  <input type="hidden" name="form_type" value="entrepot">
                  <input type="submit" value="Modifier" class="btn btn-primary">
                </form>
            </div>
            
            <hr class="deep-purple accent-2 mb-4 mt-4 mx-auto" style="width: 60%;">
        </div> 
        
      <div id="depots" class="justify-content-center px-5 mx-5 rounded" >
        <div class="depot">
          <h3>Ajouter Dépôt</h3>
          <div class="form-group">
            
            {% if submitted_depot %}
              <div class="alert alert-success d-flex align-items-center" role="alert" style="height: 23px;" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill m-1" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                <div>
                  Dépôt ajoutée avec succès !
                </div>
              </div>
            {% endif %}
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form_depot.as_p }}
              <input type="hidden" name="form_type" value="depot">
              <input type="submit" value="+ Ajouter Dépôt" class="btn btn-success">
            </form>
          </div>
          
        </div>
      </div>
      <hr class="deep-purple accent-2 mb-4 mt-4 mx-auto" style="width: 60%;">

    </div>

    <!--liste des depots-->
    <div class="justify-content-center px-5 mx-5 py-1 rounded">
      <div class="justify-content-center px-5 mx-5 py-2 rounded" >
        <h3>Liste des Dépôts  </h3>
        <!--ici la debut de liste des depot dans des cards-->
        {% for depot in depots_list %}
        <div class="card text-bg-light mb-3">
          <div class="card-header">Nom de Dépôt : {{ depot.nom_depot }}</div>
          <div class="card-body">
            <h6>Ville : {{ depot.zone_depot }}</h6>
            <h6>Stock Disponible : {{ depot.stock_depot }}</h6>
          </div>
        </div>
        {% endfor %}
        <!--ici la fin de liste des depot dans des cards-->
      </div>
    </div>
  </div>


{% endblock %}